/*
 * title: about css
 * author: wu xiaolong
 * date: 2015.07.07
 * */
body{
    text-shadow: 0 1px 1px rgba(255,255,255,1);
}
.about-logo{
    text-align: center;
    padding: 10% 0 5%;
}
.about-logo h2{
    font-size: 20px;
    line-height: 2em;
    font-weight: normal;
}
.about-logo p{
    color: rgba(45,55,71,0.5);
}
article{
    line-height: 1.5em;
    color: rgba(45,55,71,0.8);
}
article p{
    text-indent: 2em;
    padding: 2% 5%;
}
footer{
    text-align:center;
    line-height: 1.5em;
    color: rgba(45,55,71,0.5);
    font-size: 14px;
    position: fixed;
    bottom: 20px;
    width: 100%;
}