/* 
 * title: 设置
 * author: wu xiaolong
 * date: 2015.05.26
 * */
.avatar{
	display: inline-block;
	vertical-align: middle;
}
.user{
	background:#fff;
	margin-top: 6px;
	padding: 15px;
}
.user div{
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	line-height: 1.6em;
}
.user div .iconfont{
	color: rgba(45,55,71,1);
	margin-right: 6px;
}
.user div span{
	color: rgba(45,55,71,0.6);
}

